<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/dbca3ea2a9.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

    <title>Mercado liebre</title>

</head>

<body>
    <header class="main-header">

        <div class="main-header-top-bar">
            <img src="/imagenes/logo.jpeg" alt="" class="logo">

            <div class="flex no-wrap searchbar w-100">

                <input 

                    type="text"

                    class="w-100"

                    placeholder="Buscar productos, marcas"

                />

                <button><i class="fa fa-search"></i></button>

            </div>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>

        </div>

        <a href="" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">

            <ul class="lefth-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda oficial</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/registro">Crea tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>
    </header>

    <img class="baner" src="/imagenes/banner.jpeg" alt="en estas fiestas no te pierdas ningna venta">

    <main id="main-content">

        <section class="lista-v">

            <h2>Basado en tu ultima visita</h2>

            <div class="flex">

                <div class="product-wrapper">

                    <article class="venta">
                        <img src="/imagenes/cafetera.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$6.770</p>
                            <p class="verde">40% OFF</p>
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </article>
                </div>

                <div class="product-wrapper">
                    <article class="venta">
                        <img src="/imagenes/computadora-portatil.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$230.000</p>
                            <p class="verde">20% OFF</p>
                        </div>
                        <p class="nombre">Macbook Pro 2019</p>
                    </article>
                </div>

                <div class="product-wrapper">
                    <article class="venta">
                        <img src="/imagenes/celular.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$70.000</p>
                            <p class="verde">40% OFF</p>
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </article>
                </div>

                <div class="product-wrapper">
                    <article class="venta">
                        <img src="/imagenes/televisor.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$23.200</p>
                            <p class="verde">5% OFF</p>
                        </div>
                        <p class="nombre">SmartTv Samsung 43</p>
                    </article>
                </div>

            </div>


        </section>


        <section class="lista-v">

            <h2>Seccion de ofertas</h2>

            <div class="flex">

                <div class="product-wrapper">

                    <article class="venta">
                        <img src="/imagenes/cafetera.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$6.770</p>
                            <p class="verde">40% OFF</p>
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </article>
                </div>

                <div class="product-wrapper">
                    <article class="venta">
                        <img src="/imagenes/computadora-portatil.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$230.000</p>
                            <p class="verde">20% OFF</p>
                        </div>
                        <p class="nombre">Macbook Pro 2019</p>
                    </article>
                </div>

                <div class="product-wrapper">
                    <article class="venta">
                        <img src="/imagenes/celular.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$70.000</p>
                            <p class="verde">40% OFF</p>
                        </div>
                        <p class="nombre">Cafetera Moulinex</p>
                    </article>
                </div>

                <div class="product-wrapper">
                    <article class="venta">
                        <img src="/imagenes/televisor.jpeg" alt="">
                        <div class="produc-content">
                            <i class="fas fa-truck truck-icon"></i>
                            <p class="linea">$23.200</p>
                            <p class="verde">5% OFF</p>
                        </div>
                        <p class="nombre">SmartTv Samsung 43</p>
                    </article>
                </div>

            </div>

        </section>

    </main>

    <footer>

        <section class="center">

            <i class="fas fa-credit-card icon-foter"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p class="texto">Con mercado libre cash,tenes cuotas sin interes con tarjeta o efectivo en
                puntos de pago. ¡y siempre es seguro!</p>
        </section>

        <section class="center">

            <i class="fas fa-gift icon-foter"></i>
            <h4>Envio gratis desde $2500</h4>
            <p class="texto">Solo por estar registrado en mercado liebre tenes envios gratis en miles de productos.es un
                beneficio de
                mercado puntos.</p>
        </section>

        <section class="center">

            <i class="fas fa-shield-alt icon-foter"></i>
            <h4>Seguridad de principio a fin</h4>
            <p class="texto">¿No te gusta? ¡devolvelo! en mercado liebre,no hay nada que no puedas hacer,porque estas
                siempre
                protegid@</p>
        </section>

        <section class="center">

            <i class="fas fa-credit-card icon-foter"></i>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p class="texto">Con mercado libre cash,tenes cuotas sin interes con tarjeta o efectivo en
                puntos de pago. ¡y siempre es seguro!</p>
        </section>

        <section class="center-copi">
            <h4>Copyrigth @ 1999-2020 MercadoLiebre S.R.L</h4>
        </section>

    </footer>

</body>

</html>